body{
    background-color: #212121;
    color: darkgray;
}
#sidebar{
    background-color: #28282B;
    width: 20vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    padding: 1%;
    overflow: scroll;
}
#main-content{
    margin-left: 30vw;
    margin-top: 5vh;
    width: 70vw;
    height: 100vh;
    right: 0;
    padding: 1%;
}
#screen{
    width: 60vw;
    height: 50vh;
    border: black;
    background-color: black;
    margin-right: 20vw;
}
#other-items{
    background-color: #28282B;
    margin-top: 1vh;
    margin-right: 10vw;
    height: 25vh;
    overflow: scroll;
}
#select-area{
    background-color: #555555;
    margin: 2%;
    height: 20vh;
    width: 20vh;
    text-align: center;
}
.button{
    width: 10vw;
    height: 5vh;
    text-align: center;
    background-color: gray;
    border: 3px solid lightgray;
    border-bottom: 4px;
    border-right: 4px;
    color: black;
    font-weight: 700;
}
.hide{ display: none; }
footer{
    color: dimgray;
    width: 100vw;
    bottom: 0;
    position: fixed;
}