body{
    background-color: #212121;
    color: darkgray;
}
#sidebar{
    background-color: #28282B;
    width: 20vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    padding: 1%;
    overflow-x: hidden;
    overflow-y: scroll;
}
#main-content{
    margin-left: 30vw;
    margin-top: 5vh;
    width: 70vw;
    height: 100vh;
    right: 0;
    padding: 1%;
}
#screen{
    width: 60vw;
    height: 50vh;
    border: black;
    background-color: black;
    margin-right: 20vw;
}
#other-items{
    background-color: #28282B;
    margin-top: 1vh;
    margin-right: 10vw;
    height: 30vh;
    overflow-x: scroll;
    overflow-y: hidden;
}
#select-area{
    background-color: #555555;
    text-align: right;
    margin: 2%;
    height: 25vh;
    width: 40vw;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
footer{
    color: dimgray;
    width: 100vw;
    bottom: 0;
    position: fixed;
}